.App {
  display: flex;
  flex-direction: column;
}

.main-content {
  flex: 1;
  padding: 40px 20px;
}

/* How It Works Section */
.how-it-works {
  margin-top: 50px;
  display: flex;
  flex-direction: column-reverse; /* Stack video below content on mobile */
  align-items: center; /* Center align items horizontally */
}

.how-it-works-content {
  max-width: 100%; /* Ensure content doesn't exceed viewport width */
  padding-right: 0; /* Remove padding between content and video */
  text-align: left; /* Center align text content */
}
.title5{
  margin-left: -150px;
}
.how-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.how-content-left {
  margin-right: 20px; /* Adjust spacing between gears image and text */
}

.how-gif {
  height: 400px;
  width: 450px;
  margin-left:400px;
}

.gears-image {
  height: 250px;
  width: auto;
}
